<a href="https://colab.research.google.com/github/aayomide/hamoye-data-engineering/blob/main/stage_b/stage_b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use("ggplot")

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

dataset: [energy data](https://drive.google.com/file/d/1Eru_UHVc3WLHVveC9Q8K9QUxlzYeHt18/view)

In [ ]:

df_energy = pd.read_csv('energydata_complete.csv')
df_energy.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
## QUESTION 17: From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2)
# and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

# select the predictor and target variable
X = df_energy["T2"].values.reshape(-1, 1)
y = df_energy["T6"].values

# split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# fit the model on the data
model = LinearRegression()
model.fit(X_train, y_train)


# generate predictions
y_pred = model.predict(X_test)

# root mean square
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"Root Mean Squared Error (RMSE): {rmse:.3f}")

Root Mean Squared Error (RMSE): 3.633

In [ ]:
# Remove the following columns: [“date”, “lights”].
# The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility).
# Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively).
# Run a multiple linear regression using the training set. Answer the following questions:

# drop redundant features
df_energy.drop(["date", "lights"], inplace=True, axis=1)

# select the target variables and predictors
target= "Appliances"
X = df_energy.drop([target], axis=1)
y = df_energy[target]

# split the dataset into train set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


# normalize the predictor features
scaler = MinMaxScaler()
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)

# fit the model on the normalized training data
model = LinearRegression()
model.fit(X_train_normalized, y_train)

LinearRegression()

In [ ]:
## QUESITON 18: What is the Mean Absolute Error (in three decimal places) for the  training set?
y_train_pred = model.predict(X_train_normalized)
mae_train = mean_absolute_error(y_train, y_train_pred)

print(f"Mean Absolute Error for training set: {mae_train:.3f}")

Mean Absolute Error for training set: 53.742

In [ ]:
## QUESITON 19: What is the Root Mean Squared Error (in three decimal places) for the training set?
mse_train = mean_squared_error(y_train, y_train_pred)
rmse_train = np.sqrt(mse_train)
print(f"Root Mean Squared Error of training set: {rmse_train:.3f}")

Root Mean Squared Error of training set: 95.216

In [ ]:
## QUESITON 20: What is the Mean Absolute Error (in three decimal places) for test set?
y_test_pred = model.predict(X_test_normalized)
mae_test = mean_absolute_error(y_test, y_test_pred)
print(f"Mean Absolute Error for test set: {mae_test:.3f}")

Mean Absolute Error for test set: 53.643

In [ ]:
## QUESITON 21: What is the Root Mean Squared Error (in three decimal places) for test set?
y_test_pred = model.predict(X_test_normalized)
mse_test = mean_squared_error(y_test, y_test_pred)
rmse_test = np.sqrt(mse_test)
print(f"Root Mean Squared Error for test set: {rmse_test:.3f}")

Root Mean Squared Error for test set: 93.640

In [ ]:
## QUESITON 23: Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
ridge_model = Ridge()
ridge_model.fit(X_train_normalized, y_train)

y_test_pred_ridge = ridge_model.predict(X_test_normalized)
mse_test_ridge = mean_squared_error(y_test, y_test_pred_ridge)

rmse_test_ridge = np.sqrt(mse_test_ridge)
print(f"RMSE using Ridge regression for the test set: {rmse_test_ridge:.3f}")

RMSE using Ridge regression for the test set: 93.709

In [ ]:
#Question 24: Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?
lasso_model = Lasso()
lasso_model.fit(X_train, y_train)

feature_weights = lasso_model.coef_

n_non_zero_features_lasso = sum(feature_weights != 0)
print(f"Number of Features with Non-Zero Weights: {n_non_zero_features_lasso}")

Number of Features with Non-Zero Weights: 20

In [ ]:
# Question 25: What is the new RMSE with the Lasso Regression on the test set?
y_test_pred_lasso = lasso_model.predict(X_test)

mse_test_lasso = mean_squared_error(y_test, y_test_pred_lasso)
rmse_test_lasso = np.sqrt(mse_test_lasso)
print(f"RMSE using Lasso Regression on the test set: {rmse_test_lasso:.3f}")

RMSE using Lasso Regression on the test set: 93.892